{% extends 'base.html.twig' %}
{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
	<p class="title has-text-centered">Contacter le vendeur</p>
</div>
<div id="notif" class="notification notif-fixed-top is-hidden">
	<button class="delete"></button>
	<p>Message envoyé !</p>
</div>
{% endblock %}
{% block body %}
<div class="container">
	<div class="card">
		<div class="card-header p-3t">
			<div class="has-text-centered">
				<p class=" title is-size-4">Pascal MOLIPOU</p>
				<p class="title is-size-5 has-text-grey">PESSAC - 33600</p>
			</div>
		</div>
		<div class="card-content has-text-centered">
			<div class="content">
				<form action="">
					<div class="field margin-contact">
						<div class="control">
							<textarea class="textarea min-height-textarea" required>
Bonjour, 
              
Je suis en mesure de réparer votre appareil.
Quand et où pouvons-nous nous donner rendez-vous ?

Cordialement,
Léo POMA
								</textarea>
						</div>
					</div>
				</form>
			</div>
		</div>

		<footer class="custom-card-footer">
			<div class="columns is-vcentered">
				<div class="column is-6 has-text-centered">
					<p class="subtitle text-footer">
						<span class="subtitle text-footer">Iphone 5</span>
						<br/>
						<span class="subtitle text-footer">Hors service</span>
					</p>
				</div>
				<div class="column is-6 has-text-centered">
					<a class="button is-outlined is-rounded is-info" href="{{ path("messaging") }}" onclick="isSend()">
						<span>Envoyer</span>
						<span class="icon">
							<i class="fas fa-angle-right"></i>
						</span>	
					</a>
				</div>
			</div>
		</footer>
		{# <footer class="contact-footer">
			<div class="columns is-marginless is-vcentered is-variable is-hidden-mobile">
				<div class="column is-1">
					<img src="{{ asset('img/iphone5-petit.png') }}" alt="image du téléphone" />
				</div>
				<div class="column is-9">
					<p class="has-text-white">Iphone 5</p>
					<p class="has-text-grey">Hors service</p>
				</div>
				<div class="column">
					<a class="button is-outlined is-rounded is-info" href="{{ path("messaging") }}">
						<span>Envoyer</span>
						<span class="icon">
							<i class="fas fa-angle-right"></i>
						</span>
					</a>
				</div>
			</div>

			<div class="columns is-marginless is-vcentered is-variable is-mobile is-hidden-tablet is-hidden-desktop">
				<div class="column is-2">
					<img src="{{ asset('img/iphone5-petit.png') }}" alt="image du téléphone" />
				</div>
				<div class="column is-6">
					<p class="has-text-white">Iphone 5</p>
					<p class="has-text-grey">Hors service</p>
				</div>
				<div class="column is-4">
					<a class="button is-outlined is-rounded is-info" href="{{ path("messaging") }}" onclick="isSend()">
						<span>Envoyer</span>
						<span class="icon">
							<i class="fas fa-angle-right"></i>
						</span>
					</a>
				</div>
			</div>
		</footer> #}

	</div>
</div>
{% endblock %}