{% extends 'base2.html.twig' %} {% block body %}
<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered p-3t">
        <div
          class="column is-5 is-offset-1-desktop is-offset-1-tablet is-offset-1-mobile landing-caption"
        >
          <h1 class="title is-1 is-bold is-spaced">
            Faites renaître vos appareils de leurs cendres !
          </h1>
          <h2 class="subtitle is-5 is-dark">Et bienvenue à toi</h2>
          <p>
            <a class="button is-outlined is-primary" href="#">M'incrire</a>
          </p>
        </div>
        <div class="column is-5">
          <img src="{{ asset('img/home.jpg') }}" alt="Logo Ufix" />
        </div>
      </div>
    </div>
  </div>
  <div class="hero-footer has-background-white">
    <div class="container has-text-centered">
      <a class="scroll" href="#second-block">
        <span class="icon">
          <i class="fas fa-chevron-down"></i>
        </span>
      </a>
    </div>
  </div>
</section>

<section id="second-block" class="section is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-4">Grâce à UFix tu peux :</h2>
      <h3 class="subtitle is-6">*tout en préservant l'environnement</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-one-quarter">
          <div class="feature-card is-bordered has-text-centered">
            <div class="card-title">
              <h4>Réparer</h4>
            </div>
            <div class="card-icon">
              <img class="image-home" src="{{ asset('img/icon1.png') }}" />
            </div>
            <div class="card-text">
              <p>This is some explanatory text that is on two rows</p>
            </div>
            <div class="card-action">
              <a href="#" class="button is-outlined is-primary"
                >Réparer des appareils</a
              >
            </div>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="feature-card is-bordered has-text-centered">
            <div class="card-title">
              <h4>Acheter</h4>
            </div>
            <div class="card-icon">
              <img class="image-home" src="{{ asset('img/icon2.png') }}" />
            </div>
            <div class="card-text">
              <p>This is some explanatory text that is on two rows</p>
            </div>
            <div class="card-action">
              <a href="#" class="button is-outlined is-primary"
                >Acheter un appareil</a
              >
            </div>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="feature-card is-bordered has-text-centered">
            <div class="card-title">
              <h4>Vendre</h4>
            </div>
            <div class="card-icon">
              <img class="image-home" src="{{ asset('img/icon4.png') }}" />
            </div>
            <div class="card-text">
              <p>This is some explanatory text that is on two rows</p>
            </div>
            <div class="card-action">
              <a href="#" class="button is-outlined is-primary"
                >Vendre un appareil</a
              >
            </div>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="feature-card is-bordered has-text-centered">
            <div class="card-title">
              <h4>Faire réparer</h4>
            </div>
            <div class="card-icon">
              <img class="image-home" src="{{ asset('img/icon3.png') }}" />
            </div>
            <div class="card-text">
              <p>This is some explanatory text that is on two rows</p>
            </div>
            <div class="card-action">
              <a href="#" class="button is-outlined is-primary"
                >Faire réparer son appareil</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
