{% extends 'base.html.twig' %} {% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
  <p class="title has-text-centered">Messagerie</p>
</div>
{% endblock %} {% block aside %}{% endblock %} {% block body %}

<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column is-fullheight contacts is-paddingless">
            <div class="contact">
              <div class="columns">
                <div class="column">
                  <div class="columns is-vcentered">
                    <div class="column is-4 has-text-centered is-hidden-mobile">
                      <img
                        id="image-new-ad"
                        src="{{ asset('img/ecran-casse.jpg') }}"
                        alt="image produit"
                      />
                    </div>
                    <div class="column is-8 is-vcentered">
                      <p>
                        <span class="subtitle"
                          >Jacques
                          <br class="is-hidden-desktop" />
                          Pommier</span
                        >
                        <span class="is-hidden-mobile">Vendeur</span>
                        <br />
                        <span class="is-hidden-mobile"
                          >Iphone 4 Ecran cassé</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="contact">
              <div class="columns">
                <div class="column">
                  <div class="columns is-vcentered">
                    <div class="column is-4 has-text-centered is-hidden-mobile">
                      <img
                        id="image-new-ad"
                        src="{{ asset('img/ecran-casse.jpg') }}"
                        alt="image produit"
                      />
                    </div>
                    <div class="column is-8 is-vcentered">
                      <p>
                        <span class="subtitle"
                          >Jacques
                          <br class="is-hidden-desktop" />
                          Pommier</span
                        >

                        <span class="is-hidden-mobile">Vendeur</span>
                        <br />
                        <span class="is-hidden-mobile"
                          >Iphone 4 Ecran cassé</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="contact">
              <div class="columns">
                <div class="column">
                  <div class="columns is-vcentered">
                    <div class="column is-4 has-text-centered is-hidden-mobile">
                      <img
                        id="image-new-ad"
                        src="{{ asset('img/ecran-casse.jpg') }}"
                        alt="image produit"
                      />
                    </div>
                    <div class="column is-8 is-vcentered">
                      <p>
                        <span class="subtitle"
                          >Jacques
                          <br class="is-hidden-desktop" />
                          Pommier</span
                        >

                        <span class="is-hidden-mobile">Vendeur</span>
                        <br />
                        <span class="is-hidden-mobile"
                          >Iphone 4 Ecran cassé</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="contact">
              <div class="columns">
                <div class="column">
                  <div class="columns is-vcentered">
                    <div class="column is-4 has-text-centered is-hidden-mobile">
                      <img
                        id="image-new-ad"
                        src="{{ asset('img/ecran-casse.jpg') }}"
                        alt="image produit"
                      />
                    </div>
                    <div class="column is-8 is-vcentered">
                      <p>
                        <span class="subtitle"
                          >Jacques
                          <br class="is-hidden-desktop" />
                          Pommier</span
                        >

                        <span class="is-hidden-mobile">Vendeur</span>
                        <br />
                        <span class="is-hidden-mobile"
                          >Iphone 4 Ecran cassé</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="contact">
              <div class="columns">
                <div class="column">
                  <div class="columns is-vcentered">
                    <div class="column is-4 has-text-centered is-hidden-mobile">
                      <img
                        id="image-new-ad"
                        src="{{ asset('img/ecran-casse.jpg') }}"
                        alt="image produit"
                      />
                    </div>
                    <div class="column is-8 is-vcentered">
                      <p>
                        <span class="subtitle"
                          >Jacques
                          <br class="is-hidden-desktop" />
                          Pommier</span
                        >

                        <span class="is-hidden-mobile">Vendeur</span>
                        <br />
                        <span class="is-hidden-mobile"
                          >Iphone 4 Ecran cassé</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="contact">
              <div class="columns">
                <div class="column">
                  <div class="columns is-vcentered">
                    <div class="column is-4 has-text-centered is-hidden-mobile">
                      <img
                        id="image-new-ad"
                        src="{{ asset('img/ecran-casse.jpg') }}"
                        alt="image produit"
                      />
                    </div>
                    <div class="column is-8 is-vcentered">
                      <p>
                        <span class="subtitle"
                          >Jacques
                          <br class="is-hidden-desktop" />
                          Pommier</span
                        >

                        <span class="is-hidden-mobile">Vendeur</span>
                        <br />
                        <span class="is-hidden-mobile"
                          >Iphone 4 Ecran cassé</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="contact">
              <div class="columns">
                <div class="column">
                  <div class="columns is-vcentered">
                    <div class="column is-4 has-text-centered is-hidden-mobile">
                      <img
                        id="image-new-ad"
                        src="{{ asset('img/ecran-casse.jpg') }}"
                        alt="image produit"
                      />
                    </div>
                    <div class="column is-8 is-vcentered">
                      <p>
                        <span class="subtitle"
                          >Jacques
                          <br class="is-hidden-desktop" />
                          Pommier</span
                        >

                        <span class="is-hidden-mobile">Vendeur</span>
                        <br />
                        <span class="is-hidden-mobile"
                          >Iphone 4 Ecran cassé</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="contact">
              <div class="columns">
                <div class="column">
                  <div class="columns is-vcentered">
                    <div class="column is-4 has-text-centered is-hidden-mobile">
                      <img
                        id="image-new-ad"
                        src="{{ asset('img/ecran-casse.jpg') }}"
                        alt="image produit"
                      />
                    </div>
                    <div class="column is-8 is-vcentered">
                      <p>
                        <span class="subtitle"
                          >Jacques
                          <br class="is-hidden-desktop" />
                          Pommier</span
                        >

                        <span class="is-hidden-mobile">Vendeur</span>
                        <br />
                        <span class="is-hidden-mobile"
                          >Iphone 4 Ecran cassé</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-8 is-paddingless chat">
            <div class="columns has-text-centered">
              <div class="column is-4 is-offset-4">
                <p class="title">Jacques Pommier</p>
                <p class="subtitle">Vendeur</p>
              </div>
            </div>
            <!-- end chat-header -->

            <div class="chat-history">
              <ul>
                <li class="clearfix">
                  <div class="message-data is-pulled-right">
                    <span class="message-data-time">10:10 AM, Today</span>
                    &nbsp; &nbsp;
                    <span class="message-data-name">Olia</span>
                  </div>
                  <div class="message other-message is-pulled-right">
                    Hi Vincent, how are you? How is the project coming along?
                  </div>
                </li>

                <li>
                  <div class="message-data">
                    <span class="message-data-name"> Vincent</span>
                    <span class="message-data-time">10:12 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    Are we meeting today? Project has been already finished and
                    I have results to show you.
                  </div>
                </li>

                <li class="clearfix">
                  <div class="message-data has-text-right">
                    <span class="message-data-time">10:14 AM, Today</span>
                    &nbsp; &nbsp;
                    <span class="message-data-name">Olia</span>
                  </div>
                  <div class="message other-message is-pulled-right">
                    Well I am not sure. The rest of the team is not here yet.
                    Maybe in an hour or so? Have you faced any problems at the
                    last phase of the project?
                  </div>
                </li>

                <li>
                  <div class="message-data">
                    <span class="message-data-name"> Vincent</span>
                    <span class="message-data-time">10:20 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    Actually everything was fine. I'm very excited to show this
                    to our team.
                  </div>
                </li>
              </ul>
            </div>
            <!-- end chat-history -->

            <div class="chat-message clearfix">
              <textarea
                name="message-to-send"
                id="message-to-send"
                placeholder="Type your message"
                rows="3"
              ></textarea>

              <button
                class="button is-outlined is-rounded is-primary is-pulled-right"
              >
                <span>Envoyer</span>
                <span class="icon">
                  <i class="fas fa-angle-right"></i>
                </span>
              </button>
            </div>

            <!-- end chat-message -->

            <!-- end chat -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
