{% extends 'base.html.twig' %}
{% block navbar %}
	{{ parent() }}
	<div class="container-is-fluid extended">
		<p class="title has-text-centered">Déposer une annonce</p>
	</div>

{% endblock %}

{% block body %}

	<div class="container">
		<div class="tile is-ancestor box">
			<div class="tile is-parent is-vertical is-6">
				<article class="tile is-child ">
					<p class="title has-text-centered">Informations sur le produit</p>
					<div class="field">
						<label class="label">Catégorie</label>
						<div class="control">
							<div class="select">
								<select>
									<option>Téléphone</option>
									<option>Tablette</option>
									<option>Ordinateur</option>
								</select>
							</div>
						</div>
					</div>
					<div class="field">
						<label class="label">Nom du produit</label>
						<div class="control">
							<input class="input" type="text" placeholder="Text input">
						</div>
					</div>
					<div class="field">
						<label class="label">Etat du produit</label>
						<div class="control">
							<input class="input" type="text" placeholder="Text input">
						</div>
					</div>

					<div class="field">
						<label class="label">Description</label>
						<div class="control">
							<textarea class="textarea" placeholder="Textarea"></textarea>
						</div>
					</div>

					<div class="field">
						<div class="control">
							<div class="field">
								<input class="is-checkradio is-rtl has-background-color is-warning" id="exampleRtlRadioInline1" type="radio" name="exampleRtlRadioInline" checked="checked">
								<label for="exampleRtlRadioInline1">Vendre</label>
								<input class="is-checkradio is-rtl has-background-color is-warning" id="exampleRtlRadioInline2" type="radio" name="exampleRtlRadioInline">
								<label for="exampleRtlRadioInline2">Réparer</label>
							  </div>
						</div>
					</div>

				</article>
			</div>

			<div class="tile is-parent is-vertical is-6 has-text-centered is-hidden-mobile">
				<article class="tile is-child ">
					<a>image.jpg</a>
					<img
					id="image-new-ad" src="{{ asset('img/ecran-casse.jpg') }}" alt="image produit">
				{# <p class="subtitle">What is up?</p> #}
				</article>
				<article class="tile is-child">
					<a>image.jpg</a>
					<img
					id="image-new-ad" src="{{ asset('img/ecran-casse.jpg') }}" alt="image produit">
				{# <p class="subtitle">What is up?</p> #}
				</article>
				<article class="tile is-child">
					<a>image.jpg</a>
					<img
					id="image-new-ad" src="{{ asset('img/ecran-casse.jpg') }}" alt="image produit">
				{# <p class="subtitle">What is up?</p> #}
				</article>
			</div>
			
			<div class="tile is-parent is-6 has-text-centered is-hidden-desktop">
				<article class="tile is-child ">
					<a>image.jpg</a>
					<img
					id="image-new-ad" src="{{ asset('img/ecran-casse.jpg') }}" alt="image produit">
				{# <p class="subtitle">What is up?</p> #}
				</article>
				<article class="tile is-child">
					<a>image.jpg</a>
					<img
					id="image-new-ad" src="{{ asset('img/ecran-casse.jpg') }}" alt="image produit">
				{# <p class="subtitle">What is up?</p> #}
				</article>
				<article class="tile is-child">
					<a>image.jpg</a>
					<img
					id="image-new-ad" src="{{ asset('img/ecran-casse.jpg') }}" alt="image produit">
				{# <p class="subtitle">What is up?</p> #}
				</article>
			</div>




		</div>
		
		<div class="tile is-ancestor has-padding-5">

			<div class="tile is-parent">
				<div class="tile is-child has-text-centered control">
					<button class="button is-custom is-rounded">Publier</button>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
