{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} - Sélection du réparateur
{% endblock %}

{% form_theme newRepairPropositionForm _self %}
{%- block text_widget -%}
<input name="{{ full_name }}" class="input" type="text" id="text_{{ value }}" placeholder="{{label}}" required> 
{%- endblock text_widget -%}
{%- block password_widget -%}
<input name="{{ full_name }}" class="input" type="password" id="password_{{ value }}" placeholder="{{label}}" required> 
{%- endblock password_widget -%}
{%- block email_widget -%}
<input name="{{ full_name }}" class="input" type="email" id="email_{{ value }}" placeholder="{{label}}" required> 
{%- endblock email_widget -%}
{%- block number_widget -%}
<input name="{{ full_name }}" class="input" type="number" id="number_{{ value }}" placeholder="{{label}}" required> 
{%- endblock number_widget -%}
{%- block textarea_widget -%}
<textarea name="{{ full_name }}" class="textarea" type="textarea" id="number_{{ value }}" placeholder="{{label}}" required></textarea> 
{%- endblock textarea_widget -%}
{%- block submit_widget -%}
<input class="button is-primary is-outlined" name="{{ full_name }}" id="submit_{{ value }}" type="submit" value="Valider"/>
{%- endblock submit_widget -%}

{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
	<p class="title has-text-centered">Proposition de réparation</p>
</div>
{% endblock %}

{% block body %}
<div class="container">
	<div class="card">
		<div class="card-content">
			<div class="content">
				<!-- Top of content page -->
				<div class="columns">
					<div class="column is-4 is-offset-4">
						<div class="columns">
							<div class="column is-6 has-text-centered">
								<img id="image-new-ad" src="{{ asset('img/ecran-casse.jpg') }}" alt="image produit">
							</div>
							<div class="column is-6">
								<p class="title">{{ad.productName}}</p>
								<p class="subtitle">{{ad.productBreakDescription}}</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Content -->
				<div class="columns">
					<!-- Left column -->
					<div class="column is-half ">
						<div class="container-is-fluid extended">
							<p class="title has-text-centered">Propositions existantes</p>
						</div>
						<div class="is-scrollable">
							{% for repairProposition in ad.repairPropositions %}
							<a class="repairer is-fullwidth" href="{{ path('repair_proposition_details', { 'id': repairProposition.id}) }}">
								<div class="columns is-vcentered">
									<div class="column is-6">
										<p>
											<span class="subtitle">{{repairProposition.proposer.firstName}} {{repairProposition.proposer.lastName}}</span>
											<br>
											<span>
												{{repairProposition.proposer.postCode}} {{repairProposition.proposer.city}}</span>
										</p>
									</div>
									<div class="column is-3 has-text-centered">
										<div class="rate">
											<i class="star">
												4.3</i>
										</div>
									</div>
									<div class="column is-3 has-text-centered">
										<p class="subtitle">{{repairProposition.price}}</p>
									</div>
								</div>
							</a>
							<hr>
							{% endfor %}
						</div>
					</div>
					<!-- Right column -->
					<div class="column is-half">
						<div class="container-is-fluid extended">
							<p class="title has-text-centered">Proposer une réparation</p>
						</div>
						<div class="columns is-margin-top">
							<div class="column is-6 is-offset-3">
								<div class="columns has-text-centered">
										{{ form_start(newRepairPropositionForm) }}
									<div class="column is-half">
										<div class="field">
											<div class="control">
													{{ form_widget(newRepairPropositionForm.price) }}
												<!-- <input class="input" type="text" placeholder="Votre prix"> -->
											</div>
										</div>
									</div>
									<div class="column is-half">
											<div class="field">
												<div class="control">
														{{ form_widget(newRepairPropositionForm.description) }}
													<!-- <input class="input" type="text" placeholder="Votre prix"> -->
												</div>
											</div>
										</div>
									<div class="column is-half">
											{{ form_widget(newRepairPropositionForm.submit) }}
											{# <a class="button is-primary is-rounded is-outlined" href="{{ path("home_connected") }}" onclick="isSend()">Publier</a> #}
											{{ form_end(newRepairPropositionForm) }}
										<!-- <a href="{{ path("contact_repair") }}">
											<button class="button is-outlined is-rounded is-info">Soumettre</button>
										</a> -->
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<!-- Bottom of the page -->
		<footer class="custom-card-footer">
			<div class="columns is-vcentered">
				<div class="column is-4 has-text-centered">
					<p>
						<span class="subtitle text-footer">49.99€</span>
						<span class="subtitle text-footer">
							produit</span>
					</p>
					<p class="subtitle text-footer">
						<span class="subtitle text-footer">16.50€</span>
						<span class="subtitle text-footer">
							réparation</span>
					</p>
				</div>
				<div class="column is-4 has-text-centered">
					<p class="title text-footer">66.49€</p>
				</div>
				<div class="column is-4 has-text-centered">
					<a class="button is-outlined is-rounded is-info" href="{{ path("contact_seller_with_repair") }}">
						<span>Contacter le réparateur et le vendeur</span>
						<span class="icon">
							<i class="fas fa-angle-right"></i>
						</span>
					</a>
				</div>
			</div>
		</footer>
	</div>
</div>


{% endblock %}